html, body{
    height: 100%;
    background-image: linear-gradient(rgb(247, 247, 247), rgb(194, 194, 194));  
    
}

#sortingWindow{
    position: relative;    

    margin-left: auto;
    margin-right: auto;
    margin-top: 8%; 
    margin-bottom: auto; 
   

    height: 600px;
    width: 800px;

    background-color: white;
    border: 2px solid black;
    border-radius: 5px;

}

#controlPanel{  

    position: relative;    
    margin-left: auto;
    margin-right: auto;
    margin-top: -2px;

    height: 100px;
    width: 800px;

    background-color: rgb(166, 177, 201);
    border: 2px solid black;
    border-radius: 5px;   
}

/* 
#line{

    position: relative;   
    background-color: rgba(30, 143, 255, 0.808);       
    width: 8px;
    height: 600px;
    margin-left: 0%;     
} 
*/


#sortingAlgorithm{
    position: relative;

    margin-left: 41.5%;
    margin-top: 2.0%;
}

#start{
    position: relative;

    margin-left: 45%;
    margin-top: 1%;
}

#reset{
    position: relative;

    margin-left: 45%;
    margin-top: 1%;
}

